/* Other rules */
:root {
   --purlple: #5c48d3;
}
* {
   font-family: "Roboto", sans-serif;
   background-color: #000;
}
.container {
   width: 80%;
   margin: 0 auto;
}
header {
   height: 70px;
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

header img {
   margin-top: 100px;
   width: 250px;
   object-fit: cover;
}
header > input {
   margin-top: 20px;
   font-size: 20px;
   width: 450px;
   background-color: rgb(233, 233, 233);
}
.connection {
   color: #fff;
   display: flex;
   justify-content: flex-end;
}
.connection a {
   text-decoration: none;
   color: #fff;
   font-weight: bold;
   padding-left: 20px;
}
.menu {
   display: flex;
   font-size: 25px;
   font-weight: bold;
   border: #5c48d3 1px solid;
   justify-content: space-around;
   color: #fff;
   background-color: #ee201f;
   padding: 20px;
   text-decoration: none;
   border: 0px;
}

.menu a {
   text-decoration: none;
   color: #fff;
   margin-top: 20px;
   background-color: #ee201f;
}

h1 {
   padding: 15px;
   font-size: 20px;
}

.content {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   border: #ee201f 20px solid;
}

.list_character {
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
}

.characters {
   display: flex;
   flex-wrap: wrap;

   justify-content: space-between;
   align-items: flex-start;
   background-color: #fff;
   padding: 15px;
}
.character {
   margin-right: 5px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   width: 150px;
   height: 250px;
   margin-bottom: 0px;
   background-color: #fff;

   text-decoration: none;
}
.character img {
   height: 150px;
   width: 150px;
   border-radius: 5%;
   object-fit: unset;
   background-color: #fff;
}
.character p {
   background-color: #fff;
}
.character p:first-child {
   font-weight: bold;
   text-align: center;
   padding: 10px;
}

.character p:last-child {
   text-align: center;
   margin-top: 10px;
   text-transform: lowercase;
}

.characterInComics {
   height: 450px;
   width: 450px;
}
.characterInComics img {
   height: 300px;
   width: auto;
}
footer {
   align-items: center;
   text-align: center;
   color: #fff;
}
